UP-01-004 TURN transaction IDs are not completely random

The value of the property `getRandomTransactionId_` in *turn-relay/src/net/net.ts*, which is responsible for choosing TURN transaction IDs, never chooses the value 255 for any byte. The range of values that *Math.random()* returns is exclusive 1, so rounding down results of calling `Math.random() * 255` yields values in the range 0-254. RFC 5766, [section 17.1.5](http://tools.ietf.org/html/rfc5766#section-17.1.5) states:

*"Furthermore, an attacker cannot replay old server responses as the transaction id in the STUN header prevents this."*

However, given that the TURN server is local, this should have no impact unless an attacker manages to spoof traffic to a locally-bound server or the code is reused for a non-local server. We recommend to change the code to `Math.random() * 256` or to use `crypto.getRandomValues()`.